**/dist
**/build
**/out
**/node_modules
**/bower_components
**/jspm_packages
**/flow-typed
**/coverage
**/target
**/.idea
**/vendor
**/tmp
**/*.log
**/*.log.*
**/*.swp
**/*.swo
**/*.swn
~$*
*.~
*.bak
*.tmp
**/.DS_Store
**/Thumbs.db
**/Desktop.ini
